<!--
<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="./assets/img/angular2-logo-white.png"/>
      </div>
    </a>
    <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
    </a>
</div> -->
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngFor="let menuItem of menuItems; let i = index" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
            <hr *ngIf="i == 3" class="bg-white" style="width: 80%;">

        </li>
    </ul>
</div>
